<pre>{{formulario.value|json}}</pre>
<form [formGroup]="formulario">
    <div class="form-row">
        <div class="col-md-4 form-group">
            <label for="">Serie</label>
            <input type="text" class="form-control" formControlName="serie">
        </div>
        <div class="col-md-4 form-group">
            <label for="">NUmeracion</label>
            <input type="text" class="form-control" formControlName="numeracion">
        </div>
        <div class="col-md-4 form-group">
            <label for="">Fecha</label>
            <input type="date" class="form-control" formControlName="fecha">
        </div>
    </div>
    <div class="form-row">
        <div class="card">
            <div class="card-header">
                Cliente
            </div>
            <div class="card-body" formGroupName="cliente">
                <div class="form-row">
                    <div class="col-md-6 form-group">
                        <label for="">Tipo DOcumento</label>
                        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="tipoDocumento">
                            <label ngbButtonLabel class="btn-primary">
                              <input ngbButton type="radio" value="DNI"> DNI
                            </label>
                            <label ngbButtonLabel class="btn-primary">
                              <input ngbButton type="radio" value="PASAPORTE"> PASSAPORTE
                            </label>
                          </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="">Nro Documento</label>
                        <input type="text" class="form-control" formControlName="nroDocumento">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <button type="button" class="btn btn-success" (click)="agregar()">
        Agregar
    </button>
    TOTAL: {{ formulario.get('total').value }}
    <div class="form-row">
        <table class="table">
            <thead>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Dscto(%)</th>
                <th>Monto</th>
                <th></th>
            </thead>
            <tbody>
                <tr *ngFor="let linea of formulario.get('lineas').controls; let i=index ">
                    <td [formGroup]="linea">
                        <input type="text" formControlName="producto" class="form-control">
                    </td>
                    <td [formGroup]="linea">
                        <input type="number" formControlName="precio" class="form-control">
                    </td>
                    <td [formGroup]="linea">
                        <input type="number" formControlName="cantidad" class="form-control">
                    </td>
                    <td>rrrrrd</td>
                    <td [formGroup]="linea">
                        <input type="number" formControlName="total" class="form-control">
                    </td>
                    <td> 
                        <button type="button" class="btn btn-success" (click)="eliminarLinea(i)">
                            Eliminar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>




</form>