<pre>XXXXXX{{productos|json}}</pre>
<h1>Producto BUsqueda</h1>
<div class="card">
    <form [formGroup]="filterForm" (ngSubmit)="buscar()">
        <div class="row">
            <div class="col-md-5">
                <label for="">Descripcion</label>
                <input type="text" class="form-control" formControlName="descripcion">
            </div>
            <!-- <div class="col-md-5">
                <label for=""></label>
                <button type="submit" class="btn btn-success">Buscar</button>
            </div> -->

        </div>
    </form>

</div>



<table class="table">
    <thead>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Afectacopm</th>
    </thead>
    <tbody>
        <tr *ngFor="let p of productos">
            <td>{{p.descripcion}} </td>
            <td>{{p.precio}} </td>
            <td>{{p.tipoAfectacion}} </td>
        </tr>
    </tbody>

</table>