<h1>FormularioProducto</h1>
<pre>{{formulario.value|json}}</pre>
<form [formGroup]="formulario" (ngSubmit)="save()">
    <div class="form-row">
        <div class="col-md-6 form-group">
            <label for="">Descripcion</label>
            <input type="text" class="form-control" formControlName="descripcion">
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 form-group">
            <label for="">Precio</label>
            <input type="number" class="form-control" formControlName="precio">
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 form-group">
            <label for="">Tipo Afectacion</label>
            <!-- <input type="number" class="form-control" formControlName="precio"> -->
            <select class="form-control" formControlName="tipoAfectacion">
                <option value="GRAVADO">Gravado</option>
                <option value="EXONERADO">Exonerado</option>
                <option value="INAFECTO">Inafecto</option>
            </select>
        </div>
    
    </div>
    <div class="form-row">
        <div class="col-md-6 form-group">
            <label for="">Precio2</label>
            <input type="number" class="form-control" formControlName="precio2">
        </div>
    </div>

    <button type="submit" class="btn btn-success" >Guardar</button>


</form>
