<pre>{{opciones}}</pre>DDDDDDDDd
<ul class="list-group">
    <li class="list-group-item" *ngFor="let m of opciones" [routerLink]="[m.path]">{{m.name}}</li>
</ul>

<button [routerLink]="['/ventas'] " >Ventas</button>
<button [routerLink]="['/productos'] " >Productos</button>

