<div class="row" style="background-color: blue">
    <header-cpt>

    </header-cpt>
</div>
<div class="row">
    <div class="col-md-3" style="background-color:red">
        <menu-cpt>

        </menu-cpt>
    </div>
    <div class="col-md-9" style="background-color: yellow">
        <router-outlet></router-outlet>


        <!-- <venta-form></venta-form>
        <hr>
        <producto-search></producto-search> -->
    </div>
</div>
<div class="row" style="background-color: green">
    DD
    <!-- <footer-cpt></footer-cpt> -->
</div>